root = true

[*.{cs,vb}]
dotnet_naming_rule.private_members_with_underscore.symbols  = private_fields
dotnet_naming_rule.private_members_with_underscore.style    = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = suggestion

dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _
# Remove trailing whitespace
trim_trailing_whitespace = true
# Ensure file ends with a newline
insert_final_newline = true
# Use spaces for indentation, 4 spaces per indent level
indent_style = space
indent_size = 4

# Set severity for IDE0005 (unnecessary using directive) to warning
dotnet_diagnostic.IDE0005.severity = warning